<section class="card text-center">
  <div class="card-body">
    <h3 class="card-title">Sign Up</h3>
    <form id="signup">
      <div class="card-text">
        <label for="signupUsername">Username</label>
        <input type="text" placeholder="username" id="signupUsername">
      </div>
      <div class="card-text">
        <label for="signupPassword">Password</label>
        <input type="text" placeholder="password" id="signupPassword">
      </div>
      <button>Sign Up!</button>
    </form>
  </div>
</section>
