<section class="card">
  <h3 class="card-title">Sign Up</h3>
  <div class="card-body">
    <form class="form" id="signup-form">
      <div class="form-group mb-2">
        <label class="form-label" for="signupUsername">Username</label>
        <input class="form-control" type="text" placeholder="username" id="signupUsername">
      </div>
      <div class="form-group mb-2">
        <label class="form-label" for="signupEmail">Email</label>
        <input class="form-control" type="email" placeholder="email" id="signupEmail">
      </div>
      <div class="form-group mb-2">
        <label class="form-label" for="signupPassword">Password</label>
        <input class="form-control" type="text" placeholder="password" id="signupPassword">
      </div>
      <div class="form-group">
        <button class="btn btn-dark" type="submit">Sign Up</button>
      </div>
    </form>
    <a href="/login"><p><strong>Login Instead</strong></p></a>
  </div>
</section>
<script src="/js/signup.js"></script>
