*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  }
  a,a:hover,a:link,a:visited{
  color:var(--nav-color);
  text-decoration: none;
  }
  :root{
  --body-color:#d9ead3;
  --text-color:#0e2431;
  --link-color:#f9b248;
  --secondary-color:#fc3a52;
  --nav-color:#231010;
  }
  body{
  background-color: #d9ead3;
  color: var(--text-color);
  }
  nav{
  height:30%;
  background-color: var(--nav-color);
  padding:2rem;
  }
  nav a{
  padding: 0 2rem;
  color: #d9ead3 !important;
  }
  h4{
  background-color: var(--body-color);
  border-radius: 0.3rem;
  margin-left:2rem;
  margin-top:2rem;
  padding:0.5rem 0.75rem;
  font-weight:bold;
  box-shadow:5px 5px #a7a7a7;
  }
  .card {
  border: 5px solid var(--nav-color);
  margin-top: 10px;
  margin-bottom: 10px;
  }
  .card a {
  padding: 0;
  }
  .card h5, .card-text {
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  flex: 1 1 auto;
  }
  .card-body {
  background-color: var(--body-color);
  }
  .card-title {
  background-color: var(--nav-color);
  color: var(--body-color);
  padding: 10px;
  margin-bottom: 0;
  }
  .card-title:after {
  content:"";
  display:table;
  clear:both;
  }
  .card-title h3 {
  float: left;
  }
  .card-title h5 {
  float: right;
  padding: 0;
  }
  /*Styling Sign Up Form*/
  .btn{
  background-color:var(--nav-color);
  color: var(--body-color);
  }
  #login-container{
  border: 5px solid #231010;
  }
